 <table class="table table-hover">
    <h2>User info</h2> <!-- @user → user -->
       <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", format: "no_image.jpg" %>

       <tr>
         <th>name</th>
         <th><%= user.name %></th>
       </tr>

       <tr>
         <th>introduction</th>
         <th><%= user.introduction %></th>
       </tr>

       <tr>
         <th>follows</th>
         <th><%=link_to user.followings.count, follows_user_path(user.id) %></th>
       </tr>

       <tr>
         <th>followers</th>
         <th><%=link_to user.followers.count, followers_user_path(user.id) %></th>
       </tr>

   </table>

   <% if current_user != user %>
    <% if current_user.following?(@user) %>
        <p><%=link_to "フォロー外す", user_relationships_path(user.id), method: :delete %></p>
    <% else %>
        <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
    <% end %>
   <% end %>

       <tr>
        <%= link_to"", edit_user_path(user.id), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
       </tr>
